[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "REDCapExporter"]
	path = REDCapExporter
	url = https://github.com/dewittpe/redcapexporter
[submodule "cpr"]
	path = cpr
	url = https://github.com/dewittpe/cpr
[submodule "ensr"]
	path = ensr
	url = https://github.com/dewittpe/ensr
[submodule "medicalcoder"]
	path = medicalcoder
	url = https://github.com/dewittpe/medicalcoder
[submodule "pedalfast.data"]
	path = pedalfast.data
	url = https://github.com/cran/pedalfast.data
[submodule "pedbp"]
	path = pedbp
	url = https://github.com/dewittpe/pedbp
[submodule "qwraps2"]
	path = qwraps2
	url = https://github.com/dewittpe/qwraps2
