[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cpr"]
	path = cpr
	url = https://github.com/dewittpe/cpr
	shallow = true
	registered = true
[submodule "ensr"]
	path = ensr
	url = https://github.com/dewittpe/ensr
	shallow = true
	registered = true
[submodule "pedalfast.data"]
	path = pedalfast.data
	url = https://github.com/cran/pedalfast.data
	shallow = true
	registered = true
[submodule "pedbp"]
	path = pedbp
	url = https://github.com/dewittpe/pedbp
	shallow = true
	registered = true
[submodule "qwraps2"]
	path = qwraps2
	url = https://github.com/dewittpe/qwraps2
	shallow = true
	registered = true
[submodule "REDCapExporter"]
	path = REDCapExporter
	url = https://github.com/dewittpe/redcapexporter
	shallow = true
	registered = true
